interface ISteam941 is IERC721 {
    
    function tokenBalanceOf(uint256 tokenId) external view returns (uint256 balance);
    function tokenTransfer(uint256 fromTokenId, uint256 toTokenId, uint256 amount) external;
    function tokenAllowance(uint256 tokenId, address spender) external view returns (uint256 remaining);
    function tokenApprove(uint256 tokenId, address spender, uint256 amount) external;
    function tokenTransferFrom(uint256 fromTokenId, uint256 toTokenId, uint256 amount, address spender) external;
    function withdrawERC20FromNFT(uint256 tokenId, address erc20TokenAddress, address to, uint256 amount) external;

    
    function splitNFT(uint256 originalTokenId) external;
    function mergeNFT(uint256 tokenId1, uint256 tokenId2, uint256 newTokenId) external;

    
    event InternalTokenTransfer(uint256 indexed fromTokenId, uint256 indexed toTokenId, uint256 amount);
    event InternalTokenApproval(uint256 indexed tokenId, address indexed spender, uint256 value);
    event ERC20WithdrawnFromNFT(uint256 indexed tokenId, address indexed erc20Token, address to, uint256 amount);
}
